# виртуальное окружение
venv/
.env
*.env

# файлы среды разработки
.idea/
.vscode/

# compiled python
__pycache__/
*.py[cod]
*.pyc

# базы данных
*.sqlite3

# лог-файлы
*.log

# OS
.DS_Store
Thumbs.db

# docker
*.pid
