# Core
Django==3.2.25
djangorestframework==3.14.0
psycopg2==2.9.9
python-dotenv==1.0.1

# Парсинг вакансий
requests==2.31.0
beautifulsoup4==4.13.3
lxml==4.9.4  # Ускоряет работу BeautifulSoup

# Асинхронные задачи
celery==5.2.7
redis==5.0.1

# Telegram-бот
python-telegram-bot==20.3

# Документация (опционально, если хочешь Swagger)
drf-yasg==1.21.7

# Логирование и отладка (опционально)
sentry-sdk==1.40.4

# Безопасность и совместимость
typing-extensions==4.7.1
